@using SecureIdentity.Models;
@using Microsoft.AspNetCore.Mvc.Rendering;

@model RegisterViewModel


<h1>Register</h1>
<form asp-controller="Account" asp-action="Register" method="post">
    <table>
        <tr>
            <td><label asp-for="FullName"></label></td>
            <td><input asp-for="FullName" /></td>
        </tr>

        <tr>
            <td><label asp-for="Email"></label></td>
            <td><input asp-for="Email" /></td>
        </tr>
        <tr>
            <td><label asp-for="NiN"></label></td>
            <td><input asp-for="NiN" /></td>
        </tr>
        <tr>
            <td><label asp-for="BirthDate"></label></td>
            <td><input asp-for="BirthDate" /></td>

            <td>
                <label asp-for="Role"></label>
                <select asp-for="Role">
                    <option>--Select--</option>
                    <option>Administrator</option>
                    <option>User</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label asp-for="AnnualTotalDays"></label></td>
            <td><input asp-for="AnnualTotalDays" /></td>
        </tr>
        <tr>
            <td><label asp-for="AnnualLeaveDays"></label></td>
            <td><input asp-for="AnnualLeaveDays" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit"
                       value="Register" />
            </td>
        </tr>
    </table>
    <div asp-validation-summary="All"></div>
</form>

<div class="modal fade" id="aModal" tabindex="-1" role="dialog" aria-labelledby="aModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-body">
                @ViewBag.Result
            </div>
            <div class="modal-footer">
                <a asp-controller="Account" asp-action="Register">Ok</a>
            </div>
        </div>
    </div>
</div>
@{
    if (ViewBag.Result != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#aModal").modal('show');
            });
        </script>
    }
}
@section Scripts{
    <script>
        $(document).keypress(function (event) {

            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                
                window.location.href = "https://localhost:44373/Account/Register";
            }

        });
    </script>
}

